*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.canvas{
  display: block;
}

.tools{
  width: 95%;
  margin: 0 auto;
  min-height: 100px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(17,17,17,0.75);
  display: flex;
  justify-content: space-between;
}

.tools li{
  width: 40px;
  height: 40px;
  margin: 0 8px;
}

.tools .colors{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tools .colors li{
  border-radius: 20px;
}

.tools .colors li:nth-child(1){
  background: #fa2925;
}
.tools .colors li:nth-child(2){
  background: #FFA500;
}
.tools .colors li:nth-child(3){
  background: #fcf102;
}
.tools .colors li:nth-child(4){
  background: #008000;
}
.tools .colors li:nth-child(5){
  background: #06af7e;
}
.tools .colors li:nth-child(6){
  background: #0073ba;
}
.tools .colors li:nth-child(7){
  background: #a24c99;
}

.tools .widths{
  display: flex;
  align-items: center;
}

.tools .widths li{
  background-color: #ccc;
  position: relative;
}

.tools .widths li::after{
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  display: block;
  height: 80%;
  background: #000;
  border-radius: 3px;
  transform: translate(-50%,-50%);
}

.tools .widths li:nth-child(1)::after{
  width: 2px;
}

.tools .widths li:nth-child(2)::after{
  width: 4px;
}

.tools .widths li:nth-child(3)::after{
  width: 6px;
}

.tools .widths li:nth-child(4)::after{
  width: 8px;
}

.tools .widths li:nth-child(5)::after{
  width: 10px;
}

@media (max-width: 435px) {
  .tools{
    padding: 4px 0;
    flex-direction: column;
    min-height: 120px;
  }
  .tools .widths{
    justify-content: space-between;
  }
}
